* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 1px solid red;
  box-sizing: border-box;
}

body {
 background: #242424;
 color: aliceblue;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 1em;
 font-family: Arial, Helvetica, sans-serif;
}

button {
 cursor: pointer;
}

.container{
  width: auto;
  height: 100vh;
}

#imageContent{
  padding: 0.1em;
  display:flex;
  flex:1 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-around;
}

.image{
  flex-wrap: wrap;

  margin: 1em 0;
}